body {
	font-family: 'Montserrat', sans-serif;
}

h1, .letra-cool {
	font-family: 'Kaushan Script', cursive;
}

.micolor {
	background-color: #3FBFB6;
}


.amable-section {
	background-image: url('../img/AmablePerfil2.JPG');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 40rem;
	padding-bottom: 20rem;
	margin-top: 5.5rem;
}

.alto-imagen {
	height: 5rem;
}

.carousel-indicators {
	top: 14rem;
}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 50%;
}